[Desktop Entry]
Name=Proton Mail
GenericName=Email Client
Comment=Proton official desktop application for Proton Mail and Proton Calendar
Exec=start-proton-mail %U
Icon=me.proton.Mail
Terminal=false
Type=Application
Categories=Network;Email;
Keywords=email;mail;calendar;encryption;proton;
MimeType=x-scheme-handler/mailto;
StartupWMClass=Proton Mail
StartupNotify=true
